.account_page {
    width: 100vw;
    height: 100vh;

    position: relative;

    display: flex;
    flex-direction: column;

    background-image: url('../assets/bgDefault.png');
    background-size: 100%;
    overflow-y: hidden;
}


/* 중앙 */
.account_body {
    width: 100%;
    height: 84vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.account_title {
    color: #FDFFCA;
    font-size: 5vh;
    font-weight: bold;
    text-shadow: 0.3vh 0.4vh 0.33vh rgba(0,0,0,0.2);
}

.account_input {
    all: unset;

    width: 26vw;
    height: 3vh;
    padding: 2vh 2vw;

    display: flex;
    align-items: center;

    background-color: #FDFFCA;
    font-size: 2vh;
    border-radius: 5vh;
    box-shadow: 0.6vh 0.8vh 0.66vh rgba(0,0,0,0.2);
}

.account::placeholder {
    color: #9E916D;
}

.account_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.account_nav, .account_nav:hover {
    color: white;
    font-size: 1.5vh;
}