.home_page {
    width: 100vw;
    height: 100vh;

    position: relative;

    display: flex;
    flex-direction: column;

    background-image: url('../assets/bgHome.png');
    background-size: 100%;
    overflow-y: hidden;
}

/* 전체 박스 */
.home_wholeBox {
    width: 100%;
    height: 94vh;

    display: flex;
    justify-content: flex-end;

    position: relative;
}

.home_lens {
    width: 60vw;
    height: auto;

    position: absolute;
    top: 18vh;
    left: -4vw;
    z-index: 0;
}

/* 오른쪽 박스 */
.home_rightBox {
    width: 50%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_title {
    margin-top: 8vh;

    font-size: 13vh;
    font-weight: bold;
    color: #FDFFCA;

    cursor: none;
}

.home_subTitle {
    margin-bottom: 3vh;

    font-size: 2vh;
    color: white;

    cursor: none;
}

.home_account_box {
    width: 12vw;
    height: 1.8vh;
    margin-top: 2vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2vw;

    text-decoration: none;
    font-size: 1.6vh;
    color: white;
}

.home_account, .home_account:hover {
    text-decoration: none;
    color: white;
}