.inspection_page {
    width: 100vw;
    height: 100vh;

    position: relative;

    display: flex;
    flex-direction: column;

    background-image: url('../assets/bgdefault.png');
    background-size: 100%;
    overflow-y: hidden;
}


/* 중앙 */
.inspection_body {
    width: 100%;
    height: 84vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.inspection_title {
    font-size: 6vh;
    font-weight: bold;
    color: #FDFFCA;
    text-shadow: 0.6vh 0.8vh 0.66vh rgba(0,0,0,0.2);
}

.inspection_input {
    all: unset;

    width: 46vw;
    height: 3vh;
    padding: 2vh 2vw;

    display: flex;
    align-items: center;

    background-color: #FDFFCA;
    font-size: 2vh;
    border-radius: 5vh;
    box-shadow: 0.6vh 0.8vh 0.66vh rgba(0,0,0,0.2);
}