.home_page {
    width: 100vw;
    height: 100vh;

    position: relative;

    display: flex;
    flex-direction: column;

    background-image: url('../assets/bgdefault.png');
    background-size: 100%;
    overflow-y: hidden;
}