.log_page {
    width: 100vw;
    height: 100vh;

    position: relative;

    display: flex;
    flex-direction: column;

    background-image: url('../assets/bgDefault.png');
    background-size: 100%;
    overflow-y: hidden;
}


/* 중앙 */
.log_body {
    width: 100%;
    height: 84vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}
